<!doctype html>
<html>
    <header>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Backbone JS * TodoMVC</title>
        <link href="assets/index.css" rel="stylesheet"/>
    </header>
    <body>
        <section id="todoapp">
            <header id="header">
                <h1>Todos</h1>
                <input id="new-todo" name="" type="text" value=""
                       placeholder="What Needs to be Done?" autofocus/>
            </header>
            <section id="main">
                <input id="toggle-all" name="" type="checkbox" value=""/>
                <label for="toggle-all">Mark All as Complete</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="footer"></footer>
        </section>
        <div id="info">
            <p>Double Click to Edit a Todo</p>
            <p>Written by Vincent A. Saulys as part of the Backbone Fundamentals Tutorial #1</p>
        </div>

        <!-- These go last -->
        <!-- First, the templates for adding content later -->
        <script type="text/template" id="item-template">
            <div class="view">
                <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> />
                <label><%= title %></label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="<%= title %>"/> <!-- No type specified? -->
        </script>
        <script type="text/template" id="stats-template">
            <span id="todo-count"><strong><%= remaining %></strong>
                <%= remaining === 1 ? 'item' : 'items' %> left</span>
            <ul id="filters">
                <li>
                    <a class="selected" href="#">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                </li>
            </ul>
            <% if (completed) { %>
            <button id="clear-completed">Clear Completed (<%= completed %>)</button>
            <% } %>
        </script>
        <!-- Below are Javascript libraries we need to continue -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone-localstorage/backbone-localstorage.js"></script>
        <!-- Below are our javscript files we'll be writing -->
        <script src="js/models/todo.js"></script>
        <script src="js/collections/todos.js"></script>
        <srcipt src="js/views/todos.js"></srcipt>
        <script src="js/views/app.js"></script>
        <script src="js/routers/router.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
